input {
  width: 500px;
  height: 3em;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 25px 0px;
}

textarea {
  width: 500px;
  height: 9em;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 25px 0px;
}

/* 상단바 */
.titleLayout {
  background-color: rgb(255, 248, 227);
  width: 700px;
  height: 100px;
  position: fixed;
  left: 100px;
  top: 50px;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  color: burlywood;
}

/* 메인 */
.mainLayout {
  background-color: rgb(243, 215, 202);
  width: 700px;
  height: 500px;
  position: fixed;
  left: 100px;
  top: 155px;
  border-radius: 0px 0px 20px 20px;
}

.secondLayout {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  color: brown;
}

.listLayout {
  background-color: white;
  color: black;
  width: 500px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.addbuttonLayout {
  position: fixed;
  left: 550px;
  top: 580px;
}

.shortButton {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  font-weight: bold;
}

.longButton {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}